$primary-color: #1e88e5;
$primary-color-light: #6ab7ff;
$primary-color-dark: #005cb2;
$secondary-color: #009688;
$secondary-color-light: #52c7b8;
$secondary-color-dark: #00675b;
$primary-text-color: #ffffff;
$secondary-text-color: #000000;
